[submodule "RHI"]
	path = RHI
	url = git@github.com:cyj0912/RHI.git
[submodule "Foundation"]
	path = Foundation
	url = git@github.com:cyj0912/Foundation.git
[submodule "SPIRV-Cross"]
	path = SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
